@import "tailwindcss";

@plugin "@tailwindcss/forms";

@theme {
  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --spacing-tomato: 120px;
}

@layer base {
  a {
    @apply text-blue-500;
  }
}

@layer components {
  .btn {
    @apply text-avocado-400 h-[30px] rounded-[20px] bg-[#543cb8];
  }
}

@layer utilities {
  .text-bigger-size {
    @apply text-3xl font-semibold;
  }
}
