@import "tailwindcss";

@plugin "@tailwindcss/forms";

@theme {
  --font-roboto: var(--font-roboto);
  --font-rubik: var(--font-rubik);
  --font-metallica: var(--font-metallica);
}

@layer base {
  a {
    @apply text-orange-400;
  }
}

@layer components {
}

@layer utilities {
  .primary-btn {
    @apply rounded-lg bg-orange-500 text-center text-white transition-colors hover:bg-orange-400;
  }
}
